.main-container{
   background-color: rgb(230, 242, 247);

 width: 93%;
 margin: 0 auto;
 
  
}
.div-card{
   width: 80%;
   /* background-color: grey; */
   margin: 0 auto;
   display: flex;
}
.second-card-div1{
   /* background-color: grey; */
   width: 90%;
   margin: 0 auto;
}
.second-card-div2{
  
   width: 90%;
   margin: 0 auto;
}
.payment-icon-para{
   text-align: center;
   
}
.paid-para{
   color: blue;
}
.payment-logo-icon{
   font-size:150px;
   color: rgb(14, 173, 212);
}
.set-up-button{
   float: right;
   border-radius: 20px
}