.profite-div1{
  
    margin: 0 auto;
    width: 80%;
}
.profite-div2{
    margin: 0 auto;
    width: 80%;
   
}
.profite-things-heading{
    color: blue;
}
.profite-para-view{
    margin-top: 60px;
    font-weight: 600;
    color: blue;
}
.profite-para-view1{
    margin-top: 40px;
    font-weight: 600;
    color: blue;
}

